@charset "ISO-8859-1";

table{
	margin: 0.5rem auto;
    margin-top: 3rem;
}

h2 {
    margin-top: 5rem;
	text-align: center;
}

span {
    display: flex;
    justify-content: center;
}

label.required::after {
    content: '*';
    margin-right: 4px;
    color: red;
  }